// colors, from http://design-seeds.com/search?hex=FF6347

@col_home:    #3BB270;
@col_aktuell: #7096CC; //#708090;
@col_kita:    #FF6347;
@col_konzept: #008B8B;
@col_kontakt: #AA6DA3; //#9E5696; //#B7850A; // #AAF0CD; // (lightgreen)

@text_col: #eee;
@link_col: #fff;
@header_col: @text_col;


// width for mobile version (reduced width)
@handset: 500px;

// fonts
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
@import url(//fonts.googleapis.com/css?family=Roboto:100,300,400,500);

@header_font: 'Gentium Basic', 'Georgia', times, serif;
@text_font: 'Roboto', 'Helvetica', sans-serif;
@nav_font: 'Roboto', 'Helvetica', sans-serif;
@font_size: 19px;

// styles
@import 'symbols.less';
@import 'layout.less';
@import 'typo.less';
@import 'photos.less';
@import 'clock.less';

#dbg { // debug output
	font-size: 8px;
	color: #000;
	font-family: monospace;
	text-align: center;
}

@media screen {

	.cd-fixed-bg {
		background-image: url(../img/bg.png);
	}
	
	.cd-fixed-bg,
	.cd-scrolling-bg {
		color: @text_col;
		
		::-moz-selection { background: #fff; }
		::selection      { background: #fff; }
	}

	.cd-fixed-bg.home,
	.cd-scrolling-bg.home,
	.cd-scrolling-bg.home h1,
	.cd-scrolling-bg.home h2,
	.cd-scrolling-bg.home h3 {
		background-color: @col_home;
		a[href]:hover {color: darken(@col_home, 20%);}
		::-moz-selection { color: @col_home; }
		::selection      { color: @col_home; }
	}

	.cd-fixed-bg.aktuell,
	.cd-scrolling-bg.aktuell,
	.cd-scrolling-bg.aktuell h1,
	.cd-scrolling-bg.aktuell h2,
	.cd-scrolling-bg.aktuell h3 {
		background-color: @col_aktuell;
		a[href]:hover {color: darken(@col_aktuell, 20%);}
		::-moz-selection { color: @col_aktuell; }
		::selection      { color: @col_aktuell; }
	}

	.cd-fixed-bg.kita,
	.cd-scrolling-bg.kita,
	.cd-scrolling-bg.kita h1,
	.cd-scrolling-bg.kita h2,
	.cd-scrolling-bg.kita h3 {
		background-color: @col_kita;
		a[href]:hover {color: darken(@col_kita, 20%);}
		::-moz-selection { color: @col_kita; }
		::selection      { color: @col_kita; }
	}

	.cd-fixed-bg.konzept,
	.cd-scrolling-bg.konzept,
	.cd-scrolling-bg.konzept h1,
	.cd-scrolling-bg.konzept h2,
	.cd-scrolling-bg.konzept h3 {
		background-color: @col_konzept;
		a[href]:hover {color: darken(@col_konzept, 20%);}
		::-moz-selection { color: @col_konzept;}
		::selection      { color: @col_konzept;}
	}

	.cd-fixed-bg.kontakt,
	.cd-scrolling-bg.kontakt,
	.cd-scrolling-bg.kontakt h1,
	.cd-scrolling-bg.kontakt h2,
	.cd-scrolling-bg.kontakt h3 {
		background-color: @col_kontakt;
		a[href]:hover {color: darken(@col_kontakt, 20%);}
		::-moz-selection { color: @col_kontakt;}
		::selection      { color: @col_kontakt;}
	}

}

@media print {
	body, td, textarea, input {
		font-size: 12px;
	}
	
	.cd-header,
	ul#photos,
	div.h:after {
		display: none;
	}
	
	.cd-scrolling-bg {
		box-shadow: none;
		min-height: 0;
	}
	
	.cd-fixed-bg {
		background-image: none !important;
		position: relative;
		min-height: 0px;
		z-index: 1;
		
		h1 {
			padding-top: 1em;
			position: relative;
			text-shadow: none;
		}
	}
}